body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}


body{
    background-image: url('https://media1.tenor.com/m/4Z_VuaFmsAwAAAAd/jhepoy-dizon.gif');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}




